[Unit]
Description=Shirka Domotics
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=shirka
ExecStart=/home/shirka/shirka.domotics/wakeup.rpi.sh
ExecStop=/home/shirka/shirka.domotics/wakedown.rpi.sh

[Install]
WantedBy=multi-user.target